<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>GradeEZ</title>
</head>

<style>
    body {
        background: #0f0c29;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>


<body>

    <nav class="navbar navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">
            <img src="https://i.pinimg.com/originals/2d/52/cc/2d52cc99fc7ff4c4a9b6463cabdc163f.png" width="30" height="30" alt="" loading="lazy">
            <span class="navbar-brand mb-1 h1">GradeEZ</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="#">Code</a>
            </div>
        </div>
    </nav>

    <br>
    <div class="col-lg-8 bg-light border border-secondary rounded p-4 m-4 mx-auto" align="center">
        <h1 class="col-lg-10 alert alert-success p-4 m-4 mx-auto " align="center">Results</h1>


        <div class="form-group col-lg-10 border border-secondary rounded p-4 m-4 mx-auto bg-light" style="padding:20px">
            <h1 align="center"><span class="badge badge-light">Plagiarism Check</span></h1>

            <h1 align="center"><span class="badge badge-success" id="plagdisplay"></span></h1><br>
            <h1 align="center"><span class="badge badge-light">Report</span></h1>

            <div id="app"></div>
            <br>
            <button type="button" class="btn btn-danger">More than 80%</button>
            <button type="button" class="btn btn-primary">Between 30 to 80</button>
            <button type="button" class="btn btn-success">Less than 30%</button>

            <br><br>
            <img src="https://i.pinimg.com/originals/2d/52/cc/2d52cc99fc7ff4c4a9b6463cabdc163f.png" width="30" height="30" alt="" loading="lazy">
            <span class="navbar-brand mb-1 h1">GradeEZ</span>

        </div>

    </div>



    {% load static %}
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <script>
        var validate = localStorage.getItem("validate");

        var data = JSON.parse(validate)

        console.log(data.percent)
        console.log(data.links)
        console.log(data)
        var elmt = data.percent
        const average = list => list.reduce((prev, curr) => prev + curr) / list.length;

        avg = average(elmt)
        console.log(avg.toFixed(0))
        var to_display = avg.toFixed(0) + "%"
        document.getElementById("plagdisplay").innerHTML = to_display;

        var sen = data.filtered
        console.log(data.percent)
        console.log(data.links)
        console.log(sen)

        var code = []

        for (var i = 0; i < data.percent.length; i++) {
            console.log(data.filtered[i])
            if (data.percent[i] < 30) {
                var toapp = '<a href="' + data.links[i] + '" class="text-success">' + sen[i] + '</a>'
                code.push(toapp)

            } else if (80 < data.percent[i]) {
                var toapp = '<a href="' + data.links[i] + '" class="text-danger">' + sen[i] + '</a>'
                code.push(toapp)

            } else {
                var toapp = '<a href="' + data.links[i] + '" class="text-primary">' + sen[i] + '</a>'
                code.push(toapp)
            }

        }
        console.log(code.join(" "))
        var div = document.getElementById("app");
        var toapp = "<p align='left'>" + code.join(" ") + "</p>"
        div.outerHTML = toapp;
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>